langchain-community
faiss-cpu
langchain_google_genai
pypdf
langchain 
langchain_huggingface
langchain-pinecone
weaviate-client
langchain_weaviate
wikipedia
youtube_search
langgraph
chromadb
langchain-chroma
langchain-groq
yfinance
duckduckgo-search
sentence-transformers
langchain-openai
autogen-agentchat
autogen-core
autogen-ext
dotenv
openai
tiktoken

